*{
    margin: 0px;
    padding: 0px;
}
.navbar div{
    background-color: rgb(230, 174, 20); overflow: auto;position: fixed;
}
.navbar  li{
    float: left;
    width: 150px;
    height: 30px;
    border: 2px solid blue;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    transition:  1s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    
}
.navbar  li:hover{
    background-color: red;
    transform: scale(1.2);
    
    
}
.navbar  img{
    float: left;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 10px;
    transition: 2s;
    position: relative;
}
.navbar  img:hover{
    transform: scale(1.2);
    
}

.navbar  li a {
    text-decoration: none;
    display: flex;
    align-items: center;
} 
.navbar div .search{
   float: left;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 10px;
    position: relative;
    left: 130px;
    transition: 3s ease-in-out 30ms;
}
.navbar div .search:hover{
   background-color:black;
   color: white;
   transform: scale(1.1);
}
.sumitbottom{
    float: left;
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 30px;
    margin: 10px;
    position: relative;
    left: 135px;
    top: 10px;
    background-color: aqua;
    transition:4s ease-in-out 10ms;
    
}
.sumitbottom:hover{
    
    background-color: red;
    transform: scale(1.2);
}
.heading{
    background-image: url("bg1.jpg"); box-shadow: 1px 30px 10px rgb(248, 112, 112);
    background-size: 100%;
    filter:brightness();
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.heading .text{
    height: 80px;width: 1000px;
    position: relative; 
}
.heading .text ul h1{
     color: rgb(225, 225, 247); filter: blur(10);
     display: flex;
     justify-content: center;align-items: center;  
     transition: all 2s ease-in 0.2ms;
      
}
.heading .text ul h1:hover{
       color:tomato;
       transform: scale(1.3);
}
.heading .text ul p{
     color: rgb(240, 247, 225); filter: blur(10);
     display: flex;
     justify-content: center;align-items: center;
      
}
.heading .text ul a{
     color: rgb(161, 223, 28); filter: blur(10); display: inline-block;text-align: center;
     text-decoration: none; font-size: large;
     border: 2px solid navajowhite;border-radius: 10px;
     width: 100px;height: 24px;background-color: rgb(126, 69, 231);
     position: relative;
     left: 470px; top: 20px;
     transition-property:all;
     transition-duration: 6s;
     transition-timing-function: 5;
      
}
.heading .text ul a:hover{
    color: white;background-color: red;
    transform: scale(1.9);    
}
.heading2 {
    font-size: 60px;
    position: relative;bottom: 12px;
    text-align: center;
    box-shadow:inset 1px -20px 20px rgb(80, 241, 148);
}
.heading2 p{
    text-shadow: 5px 2px;
}
.container1{
    display: flex; justify-content: center;box-shadow: 10px 10px 10px green;
}
.container1 .box1  .text1{
    float: left;margin: 10px;border: 2px solid khaki; width: 400px; height: 500px;display:flex;justify-content: center;
    box-shadow: 8px 8px 15px rgb(195, 0, 255);
}
.container1 .box1  .text1 img{
    width: 250px;height: 180px;position: relative; top: 30px;left: 100px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: 4;
}
.container1 .box1  .text1 img:hover{
    transform: scale(1.1);box-shadow: 10px 10px 1000px blue;
}
.container1 .box1  .text1 h1{
    width: 250px;height: 180px;position: relative;top: 230px;right: 100px;
}
.container2{
    background-image: url("bg.jpg");filter: brightness(0.9);background-size: 100%;
    height: 230px;box-shadow: 1px 20px 20px red , 1px 10px 50px green;
}
.container2 .box3{
    text-align: center;
}
.container2 .box3 h1{
    position: relative;top: 10px;font-size: 50px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container2 .box3 img{
    width: 150px;height: 110px;margin: 3px 70px;position: relative;bottom: 30px;top: 30px;
    border-radius: 10px;
    
}
.box4 input{
    border: 2px solid red;
}
.container4{
    background-image: url("contact.jpg");background-size: 100%;height: 70vh;display: flex;align-items: center;justify-content: center;
}
.container4 ul{
    background-image: url("contact.jpg");display: flex;align-items: center;justify-content: center;background-size: 100vh;
    
}
.container4 ul li{
    list-style: none;
}
.container4 ul a{
    text-decoration: none;position: relative;top: 20px;background-color: red;font-size: 25px;border-radius: 10px;
    transition-property: all;transition-duration:10s ;transition-timing-function: ease-in;
}
.container4 ul a:hover{
    background-color: orangered;color: black;transform: scale(1.6);
}
